<%= simple_form_for @mail_item, action: "/mail_items", :method => :get do |f| %>
<div class='row-fluid text-right'>
    <div class='span12'>
       <%= f.input :email, placeholder: '输入电子邮件' %>
       <%= f.button :submit, '搜索', data: { disable_with: '正在提交...'}, class: 'btn btn-mini' %>
       <%= link_to "显示全部", mail_items_url, class: 'btn btn-mini btn-white' %>
    </div>
</div>
<% end %>