<%= page_header(t('sms_tmps.show.title'), {'返回短信通' => '/home/sms', '短信模版列表' => sms_tmps_url, '修改' => edit_sms_tmp_path(@sms_tmp)}) %>

<div class='row-fluid'>
  <div class='span12 box box-nomargin'>
    <%= box_title(@sms_tmp.title) %>
    <div class='box-content'>
      <p>
        <%= @sms_tmp.content %>
      </p>

      <p>
        <strong>字数:</strong>
        <%= @sms_tmp.content_size %>
      </p>
    </div>
  </div>
</div>

