<%= page_header('数据通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    博客通功能提示
                    <small class='muted'>to blog</small>
                </div>
                <div class='content box'>
                
                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>博客信息同步</h3>
                            <small>绑定网站通，使各大平台博客与网站通信息同步</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>博客平台</h3>
                            <small>百度空间、新浪博客、网易博客、搜狐博客、以及财经、育儿等专业类博客平台</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    价格方案
                    <small class='muted'>pricing</small>
                </div>
                <div class='content'>
                    300元/月
                </div>
            </li>
           
        </ol>
    </div>
</div>