<%= page_header('商贸通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    商贸通功能提示
                    <small class='muted'>to e-commerce</small>
                </div>
                <div class='content box'>
                  <p><strong>商贸通</strong>是中小企业<strong>电子商务化一站式服务工具</strong>，通过低成本的快速推广，使企业信息覆盖数千商贸平台，让企业获得海量的网络曝光机会；将曝光机会转化为企业的潜在客户，并聚合到企业的网站平台；通过手机客服系统及时捕获潜在客户，明确客户需求，将推广直接转化成订单；并辅于直观的客户需求分析，为企业提供对应决策参考；同时抢占移动互联网潜在客户，增加订单。</p>
                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>快速推广</h3>
                            <small>通过智能云发布技术，将产品信息发布到数千家国内知名B2B电子商务平台， 达到海量曝光的目的。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-warning'>聚焦网站</h3>
                            <small>网站引导以产品展示为核心，打造网络流量的集中营, 绑定网站通，展示企业产品、公司实力</small>
                            <div class='text-warning icon-check align-right'></div>
                        </div>
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>覆盖搜索</h3>
                            <small>6000多家商贸平台：覆盖6000多家B2B平台，海量商情全网覆盖;五大搜索引擎排名逐步提高，抢占海量精准客户流量。</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>移动营销</h3>
                            <small>配合网站通基于无线WEB的移动网站应用，占领您客户的移动终端桌面入口。</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    价格方案(对比<a href="http://t.shusheng.com/index.php?m=Public&a=member" target="_blank">商友推广引擎</a>)
                    <small class='muted'>pricing</small>
                </div>
                <div class='content'>
                    3000元/年
                </div>
            </li>
            <li>
                <div class='icon orange-background'>
                    <i class='icon-comments'></i>
                </div>
                <div class='title'>
                    <a href="http://qzone.qzone.qq.com" target="_blank" class="muted"></a>
                    推广案例
                    <small class='muted'>project show</small>
                </div>
                <div class='content'>
                  <div class='scrollable' data-scrollable-height='200' data-scrollable-start='top'>
                    <img src="/assets/case/commerce_case.png"/>
                  </div>
                </div>
            </li>
        </ol>
    </div>
</div>