<%= page_header('数据通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    数据通功能提示
                    <small class='muted'>to e-commerce</small>
                </div>
                <div class='content box'>
                  <p><strong>数据通</strong>专注于；<strong>数据抓取，信息采集，信息收取、加工和计算</strong>，数据通使用特有的云爬虫技术，实现24小时数万分布在全球的服务端进行蚂蚁搬家的方式，将您需要的数据全面准确的抓取回来。而您只需告诉我们您想抓取的网站是什么，您感兴趣的字段有哪些，你需要的数据是哪种格式，我们将为您做所有的工作，最后把数据交付给你。</p>

                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>手机号码采集</h3>
                            <small>在各大商贸网站上、分类信息网站（赶集网、58同城等）、招聘求职网站为你获取特定关键词的精准客户数据。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-warning'>电子邮件采集</h3>
                            <small>通过指定的关键词定位，收集采集QQ邮箱，网络邮箱</small>
                            <div class='text-warning icon-check align-right'></div>
                        </div>
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>产品数据采集</h3>
                            <small>想要获得大电子商务网站的产品信息，价格信息，即刻实现。</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>新闻信息采集</h3>
                            <small>采集指定关键词的网络信息，包括来自百度搜索结果页、各大新闻、行业门户网站的所有信息。</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    价格方案
                    <small class='muted'>pricing</small>
                </div>
                <div class='content'>
                    专业定制
                </div>
            </li>
            <li>
                <div class='icon orange-background'>
                    <i class='icon-comments'></i>
                </div>
                <div class='title'>
                    <a href="http://qzone.qzone.qq.com" target="_blank" class="muted"></a>
                    推广案例
                    <small class='muted'>project show</small>
                </div>
                <div class='content'>
                  <div class='scrollable' data-scrollable-height='200' data-scrollable-start='top'>
                    <img src="/assets/case/data_case.png"/>
                  </div>
                </div>
            </li>
        </ol>
    </div>
</div>