<%= page_header('数据通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    分类信息功能提示
                    <small class='muted'>to fenlei</small>
                </div>
                <div class='content box'>
                  <p><strong>分类信息通</strong>专注于；<strong>维护在各大分类信息网站的信息刷新</strong>，对发布的内容每天定时免费刷新一次；若参加了付费，则可以根据定制频次随时刷新。</p>

                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>58同城</h3>
                            <small>实现在58同城上的分类信息维护</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-warning'>赶集网</h3>
                            <small>实现在赶集网上的分类信息维护</small>
                            <div class='text-warning icon-check align-right'></div>
                        </div>
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>百姓网</h3>
                            <small>实现在百姓网上的分类信息维护</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>其他分类信息网</h3>
                            <small>不断增加中。。。</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    价格方案
                    <small class='muted'>pricing</small>
                </div>
                <div class='content'>
                    300元/月
                </div>
            </li>
            <li>
                <div class='icon orange-background'>
                    <i class='icon-comments'></i>
                </div>
                <div class='title'>
                    <a href="http://qzone.qzone.qq.com" target="_blank" class="muted"></a>
                    推广案例
                    <small class='muted'>project show</small>
                </div>
                <div class='content'>
                  <div class='scrollable' data-scrollable-height='200' data-scrollable-start='top'>
                    <img src="http://e.58.com/images/ps/xinshouyindao.png"/>
                  </div>
                </div>
            </li>
        </ol>
    </div>
</div>