<%= page_header('移动通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    移动通功能提示
                    <small class='muted'>to mobile</small>
                </div>
                <div class='content box'>
                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>定制移动APP</h3>
                            <small>为企业定制开发基于安卓和苹果两大阵营的移动应用程序。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>APP内容维护</h3>
                            <small>绑定网站通，实时同步应用端信息。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    价格方案
                    <small class='muted'></small>
                </div>
                <div class='content'>
                  5000元/套
                </div>
            </li>
            
        </ol>
    </div>
</div>