<%= page_header('付费通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    付费通功能提示
                    <small class='muted'>to weibo</small>
                </div>
                <div class='content box'>
                   <p><strong>付费通</strong>即通过<strong>百度推广、Google推广，360营销，腾讯营销</strong>等付费推广模式，快速推广企业产品，以达到明显提升销售业绩的目的。</p>

                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>推广方案策划</h3>
                            <small>包括关键词选择、广告制作、宣传预算设定、广告组设置等服务。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>数据分析</h3>
                            <small>定期提供推广数据分析报告，帮助企业决策层参考，方案定制。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    价格方案
                    <small class='muted'></small>
                </div>
                <div class='content'>
                  600元/系列（策划一个广告系列，包括新增广告系列，新增广告组，新增广告创意，新增关键词）
                </div>
            </li>
            
        </ol>
    </div>
</div>