<%= page_header('QQ通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    QQ通功能提示
                    <small class='muted'>1 minute ago</small>
                </div>
                <div class='content box'>
                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>QQ组件安装</h3>
                            <small>网站通安装<a taget="_blank" href="http://connect.qq.com/intro/wpa">QQ组件</a>包括QQ通讯组件、QQ分享、QZone分享、划词组件、赞组件、关注组件、签名组件、转存组件、提醒组件。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-warning'>绑定网站通</h3>
                            <small>将网站通的博客同步发送到QQ空间，省去了空间维护的麻烦</small>
                            <div class='text-warning icon-check align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-warning'>域名邮箱</h3>
                            <small>如果有域名，则开启域名邮箱，如(77632132@qq.com => master@yufuwu.cn)</small>
                            <div class='text-warning icon-check align-right'></div>
                        </div>
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>QQ空间</h3>
                            <small>QQ空间设置、公共空间装扮、营销内容制作（长图片、软文）</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>QQ互联</h3>
                            <small>QQ互联、<a href="http://data.qzone.com/" target="_blank">QQ热度评估</a>。（需要特殊定制）</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>QQ同步</h3>
                            <small><a href="http://p.t.qq.com/setting/sync" target="_blank">QQ同步</a>包括(QQ说说 <-> QQ微博 <-> QQ空间)的同步，与站内网博客RSS的同步, 与站外同步（新华微博、CNTV），以及微信公众帐号同步。</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    <a href="#" class="muted">QQ通</a>
                    价格方案
                    <small class='muted'>(暂未定价)</small>
                </div>
                <div class='content'>
                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                </div>
            </li>
            <li>
                <div class='icon orange-background'>
                    <i class='icon-comments'></i>
                </div>
                <div class='title'>
                    <a href="http://qzone.qzone.qq.com" target="_blank" class="muted">QQ营销案例</a>
                    1分30秒，QQ空间独家首发的10万台红米手机全部售罄
                    <small class='muted'>QQ空间社会化营销的巨能量 (来自<a target="_blank" href="http://qzone.qzone.qq.com/">QQ官方空间</a>)</small>
                </div>
                <div class='content'>
                  <div class='scrollable' data-scrollable-height='200' data-scrollable-start='top'>
                    <img src="http://song-dev.qiniudn.com/58-psb.jpg"/>
                  </div>
                </div>
            </li>
            <li>
                <div class='icon red-background'>
                    <i class='icon-facetime-video'></i>
                </div>
                <div class='title'>
                    <a href="http://qzone.qzone.qq.com" target="_blank" class="muted">QQ视频案例</a>
                    分享视频
                    <small class='muted'>营销内容</small>
                </div>
                <div class='content'>
                    <iframe frameborder=0 src="http://v.qq.com/iframe/player.html?vid=s00129m6g7e&tiny=0" allowfullscreen='' style='width:560px;height:315px;frameborder:0;'></iframe>
                </div>
            </li>
        </ol>
    </div>
</div>