<%= page_header('微信通', {'控制面板' => root_path}) %>

<div class='row-fluid timeline'>
    <div class='span12'>
        <ol class='unstyled'>
            <li>
                <div class='icon purple-background'>
                    <i class='icon-plane'></i>
                </div>
                <div class='title'>
                    微信通功能提示
                    <small class='muted'>to weixin</small>
                </div>
                <div class='content box'>
                  <div class='row-fluid'>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-error'>创建公共账号</h3>
                            <small>为企业创建公共账号，并设置账号平台，绑定微信助手。</small>
                            <div class='text-error icon-inbox align-right'></div>
                        </div>
                        <div class='box-content box-statistic'>
                            <h3 class='text-warning'>组织微信内容群发</h3>
                            <small>组织群发内容，定期群发信息。</small>
                            <div class='text-warning icon-check align-right'></div>
                        </div>
                       
                    </div>
                    <div class='span6'>
                        <div class='box-content box-statistic'>
                            <h3 class='text-info'>服务号功能定制</h3>
                            <small>特殊定制</small>
                            <div class='text-info icon-time align-right'></div>
                        </div>
                    </div>
                  </div>
                  <!-- content end -->
                </div>
            </li>
            <li>
                <div class='icon green-background'>
                    <i class='icon-picture'></i>
                </div>
                <div class='title'>
                    价格方案
                    <small class='muted'></small>
                </div>
                <div class='content'>
                    (暂未定价)
                </div>
            </li>
            <li>
                <div class='icon orange-background'>
                    <i class='icon-comments'></i>
                </div>
                <div class='title'>
                    微信营销案例
                    <small class='muted'>一个微信培训的推广方案</small>
                </div>
                <div class='content'>
                  <div class='scrollable' data-scrollable-height='200' data-scrollable-start='top'>
                    <img src="/assets/case/weixin.gif"/>
                  </div>
                </div>
            </li>
           
        </ol>
    </div>
</div>