<%= page_header(t('phone_items.edit.title'), {'返回短信通' => '/home/sms', '号码列表' => phone_items_url}) %>

<div class="row-fluid">
  <div class='span12 box'>
      <div class='box-header blue-background'>
          <div class='title'>手机号码批量导入</div>
          <div class='actions'>
              <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
              </a>
          </div>
      </div>
      <div class='box-content'>
          <div class="alert alert-note">接受Excel(.xls和.xlsx)格式的邮件表导入。请保证表列顺序为（手机号、姓名、来源、城市、地区、描述）。一次最多导入2000条记录。</div>
          <%= render 'assets/form', :asset_type => 'phone', :bucket => 'song-dev', :redirect_url => '/phone_import' %>
      </div>
  </div>
</div>