<p>欢迎 <%= @email %>!</p>

<p>这是一封来自<%= Rails.application.name %>的邮件这次确认函，如果是您发起的，请点击下面链接:</p>

<p><%= link_to '邮件确认', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
