<p>你好 <%= @resource.email %>!</p>

<p>这是一封来自<%= Rails.application.name %>的密码重置函，如果是您发起的操作，请点击以下链接：</p>

<p><%= link_to '点击密码重置', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您没有重置密码、或者重置失败的话，网站扔保留您原来的密码.</p>
