<p>你好 <%= @resource.email %>!</p>

<p>您在<%= Rails.application.name %>的账户由于各种原因被锁定了，为此造成的不变请谅解.</p>

<p>如果这是你发起的操作，请点击一下链接:</p>

<p><%= link_to '解锁账户', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
