<!--start services header-->
<section id="services-top">
<!--start services-desktop header-->
  <section id="services-top-desktop" class="visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <h1 class="header">活动介绍</h1>
    <p class="header">How awesome can it be?</p>
  </section>
<!--start services-mobile header-->
  <section id="services-top-mobile" class="hidden-desktop">
    <h1 class="header">活动介绍</h1>
    <p class="header">How awesome can it be?</p>
  </section>
</section>
<!--start services-->
<section id="services">
  <div class="container">
    <div class="row divide">
      <div class="span12">
        <ul class="thumbnails">
          <li class="span6">
            <div class="thumbnail">
              <i class="icon-cogs"></i>
              <h4>传播互联网技术</h4>
              <span>大学生志愿者</span>
              <p>该公益活动的宗旨是：通过大学生自我学习，掌握一定的网络知识基本技能，有计划有组织的服务于各小微企业以及公益组织，为小微企业和公益组织提供搭建一个基本的网络宣传通道.</p>
            </div>
          </li>
          
          <li class="span6">
            <div class="thumbnail">
              <i class="icon-stethoscope"></i>
              <h4>互联网技术服务</h4>
              <span>小微企业、有建站需求的公益组织</span>
              <p>小微企业及公益组织可以通过本次活动，一方面为志愿者提供实战案例；另一方面将免费获得宣传的目的，拥有一个宣传网站，并获得一系列网站的营销途径，这些服务都由志愿者免费提供.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="hint1">
  <a href="http://fortawesome.github.com/Font-Awesome/" target="_blank"><strong>马上行动!</strong> 点击这里即可 <strong>在线报名</strong> 获得参加此次公益活动的机会。</a>
</section>

<!--start works header-->
<section id="works-top">
<!--start works-desktop header-->
  <section id="works-top-desktop" class="visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <h1 class="header">活动流程</h1>
    <p class="header">yes, it is awesome!</p>
  </section>
<!--start works-mobile header-->
  <section id="works-top-mobile" class="hidden-desktop">
    <h1 class="header">活动流程</h1>
    <p class="header">yes, it is awesome!</p>
  </section>
</section>
<!--start works-->
<section id="works">
  <div class="container">
    <div class="row divide">
      <div class="span12">
        <div id="carousel_vertical_slide" class="carousel slide vertical">
          <div class="carousel-inner">
            <div class="active item">
              <img src="/themes/myway/img/works/works_1.jpg" alt="">
            </div>
            <div class="inactive item">
              <img src="/themes/myway/img/works/works_2.jpg" alt="">
            </div>
          </div>
          <button class="carousel-control left m-btn icn-only" href="#carousel_vertical_slide" data-slide="prev"><i class="icon-chevron-left"></i></button>
          <button class="carousel-control right m-btn icn-only" href="#carousel_vertical_slide" data-slide="next"><i class="icon-chevron-right"></i></button>
        </div>
      </div>
      <div class="span8 offset2">
        <h1>在线报名</h1>
        <h4>志愿者报名和微企业（公益组织）报名同时进行</h4>
        <p class="center">本次活动由<a href="http://www.ymzg.org" target="_blank">义梦中国志愿者培训学院（简称：义梦中国）</a>主办。<strong>义梦中国</strong>已经成功发起山区义教公益项目，本次发起的微企信息化公益项目，将依托大学信息化基地，帮助志愿者自我成长，帮助企业（或组织）拥抱互联网!</p>
        <a href="#contact-top" class="m-btn red pull-right">现在就报名</a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row divide">
      <div class="span12">
        <div id="carousel_horizontal_slide" class="carousel slide horizontal">
          <div class="carousel-inner">
            <div class="active item">
              <img src="/themes/myway/img/works/works_3.jpg" alt="">
            </div>
            <div class="inactive item">
              <img src="/themes/myway/img/works/works_4.jpg" alt="">
            </div>
          </div>
          <button class="carousel-control left m-btn icn-only" href="#carousel_horizontal_slide" data-slide="prev"><i class="icon-chevron-left"></i></button>
          <button class="carousel-control right m-btn icn-only" href="#carousel_horizontal_slide" data-slide="next"><i class="icon-chevron-right"></i></button>
        </div>
        <h1>项目培训</h1>
        <h4>HTML5+移动+互联网实战+企业建站+网络营销</h4>
      </div>
      <div class="span7 offset1">
        <p>互联网是未来，互联网的未来潜力无穷。本次培训内容主要针对<strong>HTML5</strong>、<strong>移动网站</strong>、<strong>互联网营销</strong>等几个方面开展，通过务实的技术培训，让志愿者很快掌握，并能达到一个自我学习的过程。对于企业来讲，在智能化时代，线上的数据获取和商业营销已经开始普及，超过70％的用户每天在他们的手机或移动设备或电脑中搜索当地企业。因此拥有一个非常专业的移动手机网站，让目标客户很容易找到您企业的信息，是您的企业马上要做的事情!</p>
      </div>
      <div class="span2 offset1">
        <p><strong>课程:</strong> HTML5+移动+互联网实战<br>
        <strong>课时:</strong> 3周
        <a href="#" class="m-btn blue span2">课程正在更新中...</a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row divide">
      <div class="span12">
      </div>
      <div class="span7">
        <div id="carousel_fade" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="active item">
              <img src="/themes/myway/img/works/works_5.jpg" alt="">
            </div>
            <div class="inactive item">
              <img src="/themes/myway/img/works/works_6.jpg" alt="">
            </div>
          </div>
          <button class="carousel-control left m-btn icn-only" href="#carousel_fade" data-slide="prev"><i class="icon-chevron-left"></i></button>
          <button class="carousel-control right m-btn icn-only" href="#carousel_fade" data-slide="next"><i class="icon-chevron-right"></i></button>
        </div>
      </div>
      <div class="span5 divide">
        <h1>实操演练</h1>
        <h4>通过精选的几个种子项目进行演练</h4>
        <p>Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, 
        the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.
        The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
        Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. Awesomeness, true story!</p>
        <a href="#" class="m-btn blue pull-right">View online</a>
        <p><strong>Client:</strong> Themeforest<br>
        <strong>Date:</strong> 21.02.1986
      </div>
    </div>
    <div class="divider"></div>
    <div class="row divide">
      <div class="span5 divide">
        <h1>企业实战</h1>
        <h4>真实案例，真诚回馈</h4>
        <p>Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, 
        the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.
        The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
        Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. Awesomeness, true story!</p>
        <a href="#" class="m-btn blue pull-right">View online</a>
        <p><strong>Client:</strong> Themeforest<br>
        <strong>Date:</strong> 21.02.1986
      </div>
      <div class="span7">
        <div id="carousel_fade_2" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <div class="active item">
              <img src="/themes/myway/img/works/works_6.jpg" alt="">
            </div>
            <div class="inactive item">
              <img src="/themes/myway/img/works/works_5.jpg" alt="">
            </div>
          </div>
          <button class="carousel-control left m-btn icn-only" href="#carousel_fade_2" data-slide="prev"><i class="icon-chevron-left"></i></button>
          <button class="carousel-control right m-btn icn-only" href="#carousel_fade_2" data-slide="next"><i class="icon-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="hint2">
  <a href="#contact-top" target="_blank"><strong>现在就开始!</strong> 点击一下，即可在线报名</a>
</section>

<!--start gallery header-->
<section id="gallery-top">
<!--start gallery-desktop header-->
  <section id="gallery-top-desktop" class="visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <h1 class="header">活动照片</h1>
    <p class="header">一次志愿者和企业的亲密接触</p>
  </section>
<!--start gallery-mobile header-->
  <section id="gallery-top-mobile" class="hidden-desktop">
    <h1 class="header">活动照片</h1>
    <p class="header">一次志愿者和企业的亲密接触</p>
  </section>
</section>
<!--start gallery-->
<!--start thumbnails section-->
<section id="gallery">
  <div class="container">
    <div class="row divide">

      <div class="span12">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="top">
              <a href="#gallery_1" data-toggle="lightbox">
                <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/288/small/%E5%88%9D%E4%B8%AD%E7%94%9F%E5%8A%9E%E7%9A%84%E7%94%9F%E6%97%A5party.JPG?1377273152" alt="">
              </a>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="bottom">
              <a href="#gallery_2" data-toggle="lightbox">
                <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/283/small/IMG_0856.JPG?1377162767" alt="">
              </a>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="top">
              <a href="#gallery_3" data-toggle="lightbox">
                <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/285/small/IMG_0908.JPG?1377162768" alt="">
              </a>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="bottom">
              <a href="#gallery_4" data-toggle="lightbox">
                <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/280/small/IMG_0811.JPG?1377160969" alt="">
              </a>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="top">
              <a href="#gallery_5" data-toggle="lightbox">
                <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/279/small/IMG_0808.JPG?1377160968" alt="">
              </a>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="bottom">
              <a href="#gallery_6" data-toggle="lightbox">
                <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/278/small/IMG_0781.JPG?1377160968" alt="">
              </a>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="top">
              <a href="#gallery_7" data-toggle="lightbox">
                <img src="/themes/myway/img/gallery/gallery_7.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" data-thumb="tooltip" title="Click me" data-placement="bottom">
              <a href="#gallery_8" data-toggle="lightbox">
                <img src="/themes/myway/img/gallery/gallery_8.jpg" alt="">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--end thumbnails section-->
<!--start lightboxes-->
<div id="gallery_1" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/288/original/%E5%88%9D%E4%B8%AD%E7%94%9F%E5%8A%9E%E7%9A%84%E7%94%9F%E6%97%A5party.JPG?1377273152" alt="">
  </div>
</div>
<div id="gallery_2" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/283/original/IMG_0856.JPG?1377162767" alt="">
  </div>
</div>
<div id="gallery_3" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/285/original/IMG_0908.JPG?1377162768" alt="">
  </div>
</div>
<div id="gallery_4" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/280/original/IMG_0811.JPG?1377160969" alt="">
  </div>
</div>
<div id="gallery_5" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/279/original/IMG_0808.JPG?1377160968" alt="">
  </div>
</div>
<div id="gallery_6" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="http://yufuwu.b0.upaiyun.com/system/assets/assets/000/000/278/original/IMG_0781.JPG?1377160968" alt="">
  </div>
</div>
<div id="gallery_7" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="/themes/myway/img/gallery/gallery_7@2x.jpg" alt="">
  </div>
</div>
<div id="gallery_8" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="/themes/myway/img/gallery/gallery_8@2x.jpg" alt="">
  </div>
</div>

<!--end lightbox section-->
<section id="hint3">
  <a href="#contact-top" target="_blank"><strong>加入我们!</strong> 我们是一个主要由大学生组成的公益组织</a>
</section>
<!--start team header-->
<section id="team-top">
<!--start team-desktop header-->
  <section id="team-top-desktop" class="visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <h1 class="header">团队介绍</h1>
    <p class="header">我们是一个主要由大学生组成的公益组织</p>
  </section>
<!--start team-mobile header-->
  <section id="team-top-mobile" class="hidden-desktop">
    <h1 class="header">团队介绍</h1>
    <p class="header">我们是一个主要由大学生组成的公益组织</p>
  </section>
</section>
<!--start team-->
<section id="team">
  <div class="container">
    <div class="row divide">
      <div class="span8 offset2">
        <h1>义梦中国志愿者学院</h1>
        <p class="center">【义梦中国志愿者学院】成立于2013年4月20日，总部在汶川大地震震中映秀镇的汶川青少年活动中心志愿者培养基地。义梦中国的使命是发扬国人在汶川大地震守望相助、不离不弃的志愿者精神，让更多中国人可以义不容辞地行义，义无反顾地追梦。在义梦中国志愿者学院毕业的同学，通过义教，都能把自己最美的那一面展现出来，找到自己的梦想所在，并找到力量去追寻自己的梦想，从而影响别人也可以去追寻自己的梦想。</p>
      </div>
<!--       <div class="span12">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <img src="/themes/myway/img/team/team_1.jpg" alt="">
              <h4>Aleksandar Macanovic</h4>
              <span>Founder</span>
              <p>Girlfriend, Amiga500, Star Wars, Coffee.</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/themes/myway/img/team/team_2.jpg" alt="">
              <h4>Kristina Nikolic</h4>
              <span>Marketing Manager</span>
              <p>Cognac, Job, PopCorn, LEGO, Theatre.</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img src="/themes/myway/img/team/team_3.jpg" alt="">
              <h4>Barnetta Stinson</h4>
              <span>Developer</span>
              <p>Legendary, High Five, Challenge Accepted.</p>
            </div>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</section>
<!--start contact header-->
<section id="contact-top">
<!--start contact-desktop header-->
  <section id="contact-top-desktop" class="visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <h1 class="header">在线报名</h1>
    <p class="header">hold不住了</p>
  </section>
<!--start contact-mobile header-->
  <section id="contact-top-mobile" class="hidden-desktop">
    <h1 class="header">在线报名</h1>
    <p class="header">hold不住了</p>
  </section>
</section>
<!--start contact-->
<section id="contact">
  <div class="container">
    <div class="row divide">
      <div class="span8">
        <div class="row">
          {% form comment %}
            <input name="authenticity_token" type="hidden" value="{{ authenticity_token }}" />
            <input name="site_comment[site_id]" type="hidden" value="{{ site.id }}" />
            <input name="site_comment[redirect_url]" type="hidden" value="{{ redirect_url }}" />

            {% if form.posted_successfully? %}
              <div class="notice">报名成功，我们会尽快与您取得联系.</div>
            {% endif %}

            {% if form.errors %}
              <div class="notice error">报名失败，请检查是否输入有误!</div>
            {% endif %}
            <div class="span4">
              <label>姓名:</label>
              <input type="text" id="comment_name" name="site_comment[name]" value="{{form.name}}" class="span4 {% if form.errors contains 'name' %}input-error{% endif %}" />
            </div>
            <div class="span4">
              <label>电话:</label>
              <input type="text" id="comment_mobile_phone" name="site_comment[mobile_phone]" value="{{form.mobile_phone}}" class="span4 {% if form.errors contains 'name' %}input-error{% endif %}" />
            </div>
            <div class="span8">
              <label>详细介绍:</label>
              <textarea id="comment_content" name="site_comment[content]" rows="6" class="span8 {% if form.errors contains 'content' %}input-error{% endif %}">{{form.content}}</textarea>
            </div>
            <div class="span8">
              <div class="message"><div class="alert"></div></div>
              <input type="submit" value="提交" class="m-btn blue"/>
            </div>
          {% endform %}
        </div>
      </div>
<!--start sidebar-->
      <div class="span4" id="address">
        <p>四川省.成都市.四川大学<br>
        江安校区</p>
        <p></p>
        <p>
          <abbr title="Contact">联系人:</abbr> 梁老<br>
          <abbr title="Phone">联系电话:</abbr> 13923414218<br>
          <abbr title="Email">电子邮件:</abbr> www.65960@qq.com
        </p>
        <p>
          <abbr title="Contact">联系人:</abbr> 老梁<br>
          <abbr title="Phone">联系电话:</abbr> 13923414218<br>
          <abbr title="Email">电子邮件:</abbr> www.65960@qq.com
        </p>
        <p>
          <abbr title="Contact">联系人:</abbr> 老梁<br>
          <abbr title="Phone">联系电话:</abbr> 13923414218<br>
          <abbr title="Email">电子邮件:</abbr> www.65960@qq.com
        </p>
      </div>
    </div>
  </div>
</section>
